<footer id='app-footer'>
  <div>
    <a href="https://github.com/ShadOoW/pwa-starter-kit" target="_blank" rel="noopener">
      <img id="github-logo" class="github-logo" srcset="/images/github-24px.png 1x, /images/github-48px.png 2x"
        width="24" height="24" alt="Github" attribution="github">
    </a>
  </div>
</footer>
<script async src="https://www.google-analytics.com/analytics.js"></script>
