<!-- Start of header include. -->
<header id='app-header'>
  <div class='logo'>
    <div>
      <img src='/images/rick-morty-logo.png' alt='logo' width='185' height='60' />
    </div>
  </div>

  <nav class='flex'>
    <a id='home' class='tab{{#if (equals currentTab 'home')}} active{{/if}} offline-aware' href='/'>
      <h2>Home</h2>
    </a>
    <a id='human' class='tab{{#if (equals currentTab 'human')}} active{{/if}} offline-aware' href='/characters/human'>
      <h2>Humans</h2>
    </a>
    <a id='alien' class='tab{{#if (equals currentTab 'alien')}} active{{/if}} offline-aware' href='/characters/alien'>
      <h2>Aliens</h2>
    </a>
    <a id='poopybutthole' class='tab{{#if (equals currentTab 'poopybutthole')}} active{{/if}} offline-aware'
      href='/characters/poopybutthole'>
      <h2>Poopybuttholes</h2>
    </a>
  </nav>
</header>

<!-- End of header include. -->
