{
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    },
    "default": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
