{
  "env": {
    "test": {
      "presets": ["es2015"]
    },
    "default": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers"]
    }
  }
}
