node_modules

# Auto generated
public/sw.js
public/sw.js.map
public/js/main.js
public/js/main.js.map
public/css/styles.css
public/css/styles.css.map
public/css/styles.min.css
public/css/styles.min.css.map

# Temp
notes.txt
