@use '../mixins/breakpoints';

.characters {
  display: flex;
  flex-wrap: wrap;

  .character {
    display: flex;
    width: 50%;
    position: relative;
    padding: 0.5rem;

    .cover {
      position: relative;
      width: 100%;
      height: 0px;
      opacity: 1;
      overflow: hidden;
      padding-bottom: 100%;
      background-size: cover;
    }

    .name {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #0b0904;
      opacity: 0.8;
      padding: 1rem 2rem;
      position: absolute;
      bottom: 0px;
      text-align: center;
    }

    @include breakpoints.small-up {
      width: 33.3%;
    }

    @include breakpoints.medium-up {
      width: 25%;
    }
  }
}
