<!DOCTYPE html>
<html lang='en'>

<head>
  <title>Gulliver - PWA Directory - Offline</title>
  {{> head}}
</head>

<body>
  {{> header}}
  <div class='section-title'>Offline</div>
  <div id='app-body'>
    <main class='page'>
      OFFLINE PAGE
    </main>
    <div class='page-loader'>
    </div>
  </div>
  {{> footer}}
</body>

</html>
